{erl_opts, [
    debug_info,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    {platform_define, "^[0-9]+", namespaced_types}
]}.

{minimum_otp_vsn, "26"}.

{deps, []}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"}
        ]},
        {erl_opts, [debug_info, nowarn_export_all]}
    ]}
]}.

{project_plugins, [
    rebar3_proper
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unknown
    ]},
    {plt_apps, all_deps},
    {plt_extra_apps, [crypto, ssl]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
